.prueba{
    border: 2px dashed aqua;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: gold;
    margin: 10 px;
    font-size: 20px;
}

.txt {
    border: 2px dashed greenyellow;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    margin: 10px;
    color: rgb(0, 139, 74);
}

/* p {
    background-image: url("imagenes/img_tienda.jpg");
  } */

  